# Configuration settings for Snakemake

# Relative path where your samples are found
samples: config/samples.csv

# Path to your raw sequencing reads (do not end this path with '/')
short_reads: short_reads/ref_reads_2025-12-22
# format for this path:
# short_reads: /nfs/turbo/umms-esnitkin/Project_Cauris/Sequence_data/illumina_fastq/[batch_name]

# Directory prefix where the outputs will be saved to
# Rename this to your preferred naming convention with this format: year-month-day_Project_Name_funQCD
prefix: b11109_short_read_25-12-25

# Change to genome size of your organism of interest 
genome_size: 12000000

# Cores made available to snakemake
# Optional to change this
# (this is now specified in profile/config.yaml)
# ncores: 8
# Memory allocated to snakemake in Mb
# Make sure this is equal to the memory provided in profile/config.yaml 
# mem_mb: 15000

# Command line parameters for trimmomatic tool
# Change according to your sequence type
# If your adapter file is not present in the adapter directory, 
# Please add the appropriate file to the adapters folder
adapter_file: config/adapters/combined_Adaptors.fa
seed_mismatches: 2
palindrome_clipthreshold: 30
simple_clipthreshold: 10
minadapterlength: 8
keep_both_reads: true
window_size: 4
window_size_quality: 20
minlength: 40
headcrop_length: 0
lead_trail_qual: 3

# Optional to change this unless you have a kraken database of your own
#kraken_db: /nfs/esnitkin/bin_group/database/k2_standard_20230605/

# Do not change this
bioawk: bioawk -c fastx '{if(length($seq) > 1000) {print ">"$name; print $seq }}'

# Command line parameters for Prokka 
# Optional to change this
#prokka: -kingdom Bacteria --force --rfam

# Change this to your organism of interest 
# Check the website below for proper naming convention
# https://github.com/ncbi/amr/wiki/Running-AMRFinderPlus#--organism-option
#amrfinder_organism: Klebsiella_pneumoniae

# QC thresholds 
min_contigs: 7
max_contigs: 500
min_assembly_length: 11000000
max_assembly_length: 13000000
min_avg_coverage: 20
min_fastqc_tests_passed: 6
min_busco_nucl_score: 97
min_n50: 30000

# Skani database
# Optional to change this unless you have a skani database of your own
#skani_db: /nfs/turbo/umms-esnitkin/database/skani/gtdb_skani_database_ani

# Database path
funqcd_lib: /nfs/turbo/umms-esnitkin/Project_Cauris/Analysis/2025_funQCD_database/lib/
# This directory needs to have a specific structure:
# lib
# ├—rna_seq_data
# ├—eggnog_data
# ├—busco
#     └-lineages
#       └-saccharomycetes_odb10
# └—interproscan_data
#     └-data 
# You can create this file structure in your working directory and the setup rules will download the relevant databases
# This will likely require you to set up the funannotate database separately.

# This is an example QC summary file used as a template. It's used to indicate that certain samples fail early steps in the pipeline.
# The first row should contain a failed sample, and the second row should contain a passing sample.
# These columns should be identical to the final QC file produced by the pipeline.
example_qc_summary_file: config/example_qc_summary.tsv

# Feel free to remove the comments after you have customized the file.
